@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";:root{background-color:#955157}*{box-sizing:border-box;font-family:Raleway,sans-serif;margin:0;padding:0}
